################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WORKMAN.Auth/.vs/WORKMAN.Auth
/src/WORKMAN.Auth/WORKMAN.Auth/obj
/src/WORKMAN.Auth/WORKMAN.Auth/bin/Debug/net8.0
/src/WORKMAN.Auth/obj
/src/WORKMAN.Auth/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks.ExceptionHandling/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks.ExceptionHandling/obj
/src/WORKMAN.Auth/auth.db-shm
/src/WORKMAN.Auth/auth.db-wal
/src/WORKMAN.Auth/auth.db-shm
/src/BuildingBlocks/BuildingBlocks.Common/obj
/src/Common/obj
/src/BuildingBlock.Common/obj
/src/WORKMAN.Auth/auth.db
/src/BuildingBlock.Common/bin/Debug/net8.0
/src/WORKMAN.Auth/logs
